# Virtual Environment
clinicenv/
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django Database
db.sqlite3
db.sqlite3-journal

# User Uploads
media/

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# Testing / Cache
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Build Files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/